body{ 
    background-image: url(../IMG/superficie-de-madera-clara-del-fondo-de-la-textura-con-el-viejo-modelo-natural-o-vieja-opinión-de.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: top;
    padding: 5px;
    
}


.flex-container{/*para ajustar el container al medio*/
    display: flex;
    margin-left: 15%;/*para acomodar la barra de navegación */
    margin-right: 15%;/*para acomodar el aside*/ 
}


.el-div-cuerpo{   /*éste lo cree para para acomodar el nav pero ya lo resolví, dándole padding-left/right al flex container */
   margin: 0;
   padding: 0;
}


.el-div-nav{ /*acomodando la barra de navegación*/
    
    position: fixed; 
    
}

nav{
    border:groove 3px #0a090a;
    border-radius: 20%;
    background-color: violet;
    
}
nav ul li {
    list-style: none;
    border-bottom: solid 3px #000000;
    
   }
ul{
    padding: 0%;
    margin: 10px; 
}
   
ul li a {
    padding: 5px;
    color: #1195e6;
    text-shadow: hsla(0, 0%, 100%, 0.988) 1px 1px ;
}
a {
    text-decoration: none;
}





.div-del-aside{
    
    display: flex;
}
aside a {
    display: block;
}

aside{/*acomodando el aside"recomendaciones" para que el nav"barra de nav por el articulo" no lo tape*/
    position: fixed;
    flex-direction: column;
    margin-top: 0%;/*si le doy un margin-top/bottom mas de 200% crea un espacio en blanco entre el article y el footer*/
    margin-bottom: 0%;
   justify-content: flex-end;
}
aside img{
    height: 170px;
    width: 150px;
    padding: 0;
    margin: 0;
}




.div_ul_ingredientes{ /*este es el container de la lista que quiero ubicar la imágenes a su lado*/
   
    width: 30%;
}
.grid-container-imagenes-de-los-ingredientes{ /*acomodando las imágenes de los ingredientes con grid, al lado de la lista de ingredientes*/
    display: grid;
    grid-template-rows:150px 150px  ;
    grid-template-columns:repeat(3, 150px ) auto-fit ;
    display: inline-block;
    position: absolute;
    top: 57px;
    left:240px ;
   
}
.grid-container-imagenes-de-los-ingredientes img{/*acá ajuste el tamaño de las imagenes para acomodarlas dentro de las rejillas de grid*/
    width: 115px;
    height: 100px;
    
    left: 40px;
}
section{
   
    position: relative;
}


.img-final img {
    width: 300px;
    height: 200px;
}

.Primer-img img{
    width: 300px;
    height: 200px;
   
}
#la_img{ /*el id de la imagen que quiero que este oculta, y la voy a mostrar con un botón y ocultarla nuevamente con otro*/
    display: none ;
}

footer div a img{
    height: 40px;
    width: 40px;
}
footer{
    /* border: 2px solid  rgb(0, 235, 235);
    background-color: hsl(248, 43%, 79%); */
    padding: 20px;
    margin-right: 88%;
    margin-top: -36%;
 
}
.sobre_nosotros_redes{ /*quiero acomodar el footer al lado inferior izquierdo con flex column*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*LO DE ARRIBA FUE ACOMODAR EL FOOTER, NAV, ASIDE, IMÁGENES CON GRID Y FLEXBOX*/
/*AHORA VOY A ARREGLAR LOS TEXTOS, VOY A TRATAR DE QUE QUEDE NAIS(NICE) */