body{ 
    background: #d25fc292;
    padding: 10px;
}

nav{
    display: grid;
    right: 1px;
    position: fixed; 
    top: 0%;
    border:2px solid hsl(203, 86%, 8%) ;
}
header{
    border: 2px groove chartreuse;
}
aside{
    border: 3px ridge #ff0000;
}
article{
    border:4px dotted #1500ff;
}
section{
    border: 2px solid hsl(81, 100%, 50%);
}
.img-final img {
    width: 300px;
    height: 200px;
}

.Primer-img img{
    width: 300px;
    height: 200px;
}
nav ul li {
 list-style: none;
}

ul li a {
    text-decoration: none;
    color: #1195e6;
    text-shadow: hsla(56, 84%, 50%, 0.988) 1px 1px ;
  
}

nav ul {
   
}